/*wap css*/
/*公共样式*/
body{
	font-size: 12px;
}
.top-pos{
	height:40px;
	/*position: fixed;*/
	top:0px;
	background-color: lawngreen;
	text-align: center;
}
.top-pos span{
	font-size: 20px;
}
.top-pos p{
	-webkit-text-size-adjust:none;
	font-size: 12px;
	line-height: 12px;
}
